html, body{
    padding: 0%;
    margin: 0%;
    display: flex;
    height:auto;
    width:auto;
    overflow-x: scroll;
}
.topBar{
    padding: 0%;
    margin: 0%;
    position: absolute;
    top: 0px;
    left:0%;
    height:9em;
    width: 100%;
    background-color:gray;
}
/* START HAMBUGER ICON*/
.icon{
    cursor: pointer;
    position: absolute;
    width: 17%;
    height:100%;
    position: relative;
    border-right: 1px solid rgb(194, 192, 192);
    z-index: 2;
}

.icon .hamburger{
    height:12px;
    width:65px;
    background:white;
    position: absolute;
    top:50%;
    left: 58px;
    transition: .3s;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .2);
}
.hamburger:before,
.hamburger:after{
    content: '';
    background: white;
    position: absolute;
    height:12px;
    width: 65px;
    transition: .1s;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .2);
}

.icon .hamburger:before{
    top:-25px;   
    transition:.1s;
}
.icon .hamburger:after{
    top:25px;
    transition: .1s;
}

.icon.active .hamburger{
    background: rgb(0, 0, 0,0);
    box-shadow: none;
}

.icon.active .hamburger:before{
    transform: rotate(45deg);
    top: 0%;
    background:orange;
}
.icon.active .hamburger:after{
    transform: rotate(310deg);
    top: 0%;
    background:orange;
}

/* END HANBURGER ICON */

/* START NAVBAR */
    /* WHEN ACTIVE:
    Padding 10px
    Width 13.4em*/
.navBar{
    padding:0px;
    width:0px;
    margin: 0px;
    position: absolute;
    top: 3.2em;
    left: 0%;
    background-color: rgb(54, 54, 54);
    font-size: 3em;
    overflow-x: hidden;
    z-index: 1;
    transition: .2s;
}
.navBar h1{
    font-size: 2.3em;
    color:#F2E3BB;
    border:.4em solid orange;
    border-left: none;
    border-right: none;
    margin: .5em;
}
.navBar h3{
    color: rgb(119, 118, 118);
    font-size: 1.2em;
}
.navBar .item{
    padding: .6em .7em .6em .7em;
    border-top: 1px solid rgb(107, 107, 107);
    vertical-align: 50%;
    font-size: 1.4em;
    color: white;
    letter-spacing: 3px;
}
.navBar a{
    padding: .3em 2.4em .3em 2.4em;
    font-size: 1em;
    display: none;
    color:white;
    letter-spacing: 3px;
}
.navBar .item:hover{
    background-color: orange;
    transition: .6s;
    color: rgb(59, 59, 59);
}
.navBar a:hover{
    background-color: orange;
    color: rgb(59, 59, 59);
    transition: .6s;
}
/* END NAVBAR */


/*START CONTENT*/
.content{
    width:100%;
    height:100%;
    position: absolute;
    top:10em;
}

/*START CONTENT-HEADER*/
.contentHeader{
    height:10em;
    width:100%;
    font-size: 2.4em;
    
}
.contentHeader-Wrapper{
    padding: .7em;
    margin-right: 1em;
    margin-left: 1em;
}
.contentTitle{
    font-size: 2.7em;
    display: inline;
}
.contentSubtitle{
    font-size: .5em;
    color:#B5B4B4;
    margin-left: .3em;
    text-align: center;
    display: inline;
    vertical-align: center;
}
.contentTree{
    background-color: #EDE5D0;
    padding:.4em;
}
/*END CONTENT-HEADER*/

.infoBox-Outer{
    width:100%;
    height:16em;
}
.infoBox-Wrapper{
    height:100%;
    margin-right: 3em;
    margin-left: 3em;
    border: 2px solid #A5A5A5;
    border-radius: 3em;
    box-shadow: 0px 6px 6px -1px gray;
    overflow:hidden;
    display:flex;
}
.infoBox-Left{
    width:35em;
    height:100%;
    border-right: 2px solid white;
    background-color: orange;
    border-bottom-left-radius: 1.2em;
    border-top-left-radius: 1.2em;
    overflow-wrap: break-word; 
    word-wrap: break-word;
    word-break: break-all; 
    -ms-word-break:break-all;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
}
.infoBox-Left span{
    padding: 32% 15% 0% 15%;
    color:white;
    margin:0px;
    font-size: 3.5em;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 800;
}
.infoBox-Right #outerPara{
    padding: 6% 2% 2% 6%;
    margin: 0px;
    font-size: 2.6em;
}


/*END CONTENT*/